*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --main-background-color-1:rgb(255, 185, 240);
    --main-background-color-2:rgb(160, 180, 245);
}

.main-container{
    width: 100%;
    max-width: 100%;
    background: linear-gradient(90deg, var(--main-background-color-1), var(--main-background-color-2));
}

.gallery-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
}

.gallery-itens{
    display: grid;
    align-items: center;
    grid-gap:1rem;
    margin: 1rem;
    grid-template-columns: repeat(2, 1fr);
    max-width: 500px;
    width: 500px;
    padding: 3rem;
}

.gallery-itens-1{
    background: conic-gradient(from -180deg at center,red,  orange, royalblue, purple);
    border-radius: 5rem;
}

.gallery-itens-2{
    background: conic-gradient(from -180deg at center,rgb(255, 11, 145), rgb(7, 206, 7),  gray, rgba(255, 238, 0, 0.945));
    border-radius: 5rem;
}

.gallery-itens img{
    width: 50%;
    align-self: center;
    justify-self: center;
}

.item-align{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.caption{
    align-self: center;
    color: antiquewhite;
    font-size: 1.5rem;
}


@media(max-width: 800px){
    .gallery-itens > img{
        width: 100%;
    }
    .gallery-itens{
        max-width: 100%;
        width: 100%;
    }

}

@media(max-width: 700px){
    .gallery-itens{
        grid-template-columns: repeat(1, 1fr);
    }

    .gallery-itens-1{
        background: linear-gradient(-45deg,purple, red, royalblue, orange);
    }

    .gallery-itens-2{
        background: linear-gradient(-45deg, rgba(255, 238, 0, 0.945), rgb(255, 11, 145) ,gray, rgb(7, 206, 7));
    }

    .caption{
        font-size: 2.5rem;
    }
}