.favorite-button{
    width: 40%;
    max-width: 40%;
    border-radius: 7%;
    padding: 8%;
    font-size: 0.9rem;
    color: white;  
    font-weight: bold;
    background-color: var(--pink-accent);
    display: flex;
    flex-direction: column;
    justify-content: center;
}